### Курсовой проект. Корреляция курса доллара и цены на нефть.

Возьмем данные за полгода с сайта investing

1. Данные по ценам нефти марки Urals с 01.10.2020 по 26.03.2021

2. Данные по курсу доллара к рублю с 01.10.2020 по 26.03.2021

Сопоставим данные по датам, заполним пропуски средним значением по соседним точкам.

In [5]:
import numpy as np
import pandas as pd

In [23]:
URAL_DATASET_PATH = 'C:\\Users\\gdu19\\geekbrains\\Теория вероятности\\Urals_011020_260321.csv'
DOLLAR_DATASET_PATH = 'C:\\Users\\gdu19\\geekbrains\\Теория вероятности\\Dollar_011020_260321.csv'

In [39]:
Ural_df = pd.read_csv(URAL_DATASET_PATH)
dollar_df = pd.read_csv(DOLLAR_DATASET_PATH)

In [54]:
Ural_df

           date  ural_price
0    26.03.2021       62.35
1    25.03.2021       59.89
2    24.03.2021       62.16
3    23.03.2021       60.21
4    22.03.2021       62.29
..          ...         ...
121  07.10.2020       40.25
122  06.10.2020       41.01
123  05.10.2020       39.92
124  02.10.2020       38.80
125  01.10.2020       39.44

[126 rows x 2 columns]

In [65]:
ural_v = Ural_df[['ural_price']].values[:,0]
dollar_v = dollar_df[['dollar_price']].values[:,0]
x = np.array([ural_v, dollar_v])
r = np.corrcoef(x)[0,1]
r

-0.7423649771340545

Получили обратную довольно сильную корреляцию. То есть чем дороже нефть, тем ниже курс доллара к рублю и наоборот.

Проверим гипотезу, что этот результат статистически значим

H0 - Коэффициент корреляции = 0. То что мы посчитали случайно отличается от 0.

H1 - Корреляция статистически значима.

Количество измерений n = 126

Проверим критерий:
    T = corr*sqrt(n)/sqrt(1 - corr^2)

In [70]:
n = 126
T = r*n**0.5/(1-r**2)**0.5
T

-12.437432323832677

Результат находится далеко за пределами доверительного интервала [-1.96, 1.96], то есть гипотеза H0 отвергается. Мы получили статистически значимый результат.

Курс рубля к доллару довольно сильно зависит от цены на нефть. По крайней мере за прошедшие полгода.